* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('top-view-blue-calculator-notepad-color-background_260672-4055.webp');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#Table{
    background-color:cornflowerblue;
    border: 2px solid black;
    margin: 60px;
    padding: 30px 15px;
}
th,tr,td{
    /* border:1px solid ; */
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
#start{
    padding: 30px 0;
    position: relative;
    top: 20px;
    left: 40px;
}
.btn{
    border: 2px solid black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:40px;
    width:90px;
    background-color: antiquewhite;
}
#List{
    height:40px;
    width:90px;
}